$theme-color: #003eff;
$theme-color-light: rgba(0, 54, 251, 0.51);
$text-color: #4B5563;
$text-color-warm: #737373;
$text-color-dark: #1F2937;
$card-color-hover: #FAFAFA;
$border-color: #E5E7EB;
$card-color: #F3F4F6;
$logout-color: #E40606;
