@use "../base";
@use "sass:color";

.practise-container {
  transition: all .3s linear;
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  @media (max-width: 832px) {
    .practise-content {
      grid-template-columns: repeat(1, minmax(0px, 1fr)) !important;
      column-gap: 0 !important;
    }
  }
  @media screen {

  }
  .practise-header {
    width: 100%;
    max-width: 1440px;
    margin: 30px auto;
    text-align: center;
    .practise-header-title {
      font-weight: 700;
      font-size: 30px;
      line-height: 35px;
      color: base.$text-color-dark;
    }
    .practise-header-subtitle {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: base.$text-color-warm;
    }
  }
  .practise-content {
    display: grid;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
    gap: 25px;
    transition: all .3s linear;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
    .practise-card {
      border-radius: 8px;
      &.practise-filter {
        padding: 25px;
        background-color: #fff;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        .card-body {
          display: flex;
          flex-direction: column;
          gap: 25px;
          .card-body-item {
            display: flex;
            flex-direction: column;
            gap: 10px;
            .card-body-item-title-main {
              display: flex;
              flex-direction: row;
              gap: 15px;
              flex-wrap: wrap;
              .filter-item-btn {
                border: none;
                outline: none;
                padding: 4px 8px;
                border-radius: 6px;
                font-size: 14px;
                color: base.$text-color;
                background: base.$card-color;
                cursor: pointer;
                transition: all 0.2s linear;
                &:hover,
                &.active {
                  color: base.$text-color-dark;
                  background: color.adjust(base.$card-color, $lightness: -5px) ;
                }
              }
            }
          }
        }
      }
      &.practise-main {
        grid-column: span 3;
        display: flex;
        flex-direction: column;
        gap: 25px;
        .practise-main-header,
        .practise-main-question
        {
          background-color: #fff;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          border-radius: 8px;
          padding: 25px;
        }
        .practise-main-process {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .practise-main-process-inner {
            display: flex;
            flex-direction: row;
            gap: 15px;
          }
        }
      }
    }
  }
}
