@use "../base";

:root {
  --container-width: 100%;
}
.header-container {
  height: 64px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);

  .header-box {
    max-width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 10px;
    transition: max-width 0.3s linear;
    @media (max-width: 1280px) {
      max-width: 1024px;
    }
    @media (max-width: 1024px) {
      max-width: 768px;
    }
    @media (max-width: 768px) {
      max-width: 100%;
      .menu-box {
        max-width: 0 !important;
        max-height: 0 !important;
        opacity: 0 !important;
        visibility: hidden !important;
        transform: scaleX(0) !important;
      }
      .user-info {
        .user-basic {
          opacity: 0 !important;
          visibility: hidden !important;
          transform: scaleX(0) !important;
        }
        .mobile-menu-icon {
          opacity: 1 !important;
          visibility: visible !important;
          transform: scaleX(1) !important;
        }
      }
    }

    .logo-box {
      display: flex;
      cursor: pointer;
      gap: 4px;
      img {
        width: 38px;
        height: 38px;
        object-fit: cover;
      }
      h2 {
        font-size: 24px;
        line-height: 36px;
        color: base.$text-color-dark;
      }
    }

    .menu-box {
      visibility: visible;
      opacity: 1;
      transform: scaleX(1);
      transition: visibility 0.3s linear,
                  opacity 0.3s linear;
      .menu {
        display: flex;
        list-style-type: none;
        gap: 20px;
        .menu-item {
          color: base.$text-color;
          position: relative;
          cursor: pointer;
          transition: color 0.3s linear;
          &:after {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background: base.$theme-color;
            left: 0;
            top: 100%;
            transform: scaleX(0);
            transform-origin: 100% 0;
            transition: transform 0.3s linear;
          }
          &:hover {
            color: base.$theme-color;
            &:after {
              transform: scaleX(1);
              transform-origin: 0 0;
            }
          }
        }
      }
    }

    .user-box {
      height: 100%;
      .user-info {
        display: flex;
        height: 100%;
        align-items: center;
        .user-info-inner {
          display: flex;
          align-items: center;
          gap: 4px;
          > * {
            cursor: pointer;
            transition: visibility 0.3s linear,
                        opacity 0.3s linear;
          }
          .user-basic {
            opacity: 1;
            visibility: visible;
            transform: scaleX(1);
          }
          img {
            width: 32px;
            height: 32px;
            object-fit: cover;
            border-radius: 9999px;
            margin-right: 2px;
          }
          .mobile-menu-icon {
            font-size: 20px;
            line-height: 36px;
            opacity: 0;
            visibility: hidden;
            transform: scaleX(0);
          }
        }
      }
    }
  }
}
