name: Build & Release (master)

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm
  
      - name: Install Pnpm Tool
        run: npm install -g pnpm
      
      - name: Install Dependencies
        run: pnpm install
      
      - name: Build proejct
        run: pnpm run build

      - name: Archive dist
        run: |
          cd dist
          zip -r ../dist.zip .
          cd ..
      - name: Read version from package.json
        id: version
        run: |
          VERSION=$(node -p "require('package.json').version" \
          echo "version=v$VERSION" >> $GITHUB_OUTPUT

      - name: Build Docker Image
        run: |
          docker build -t qinloren/probsolve-web:${{ steps.version.outputs.version }} .

      - name: Save Docker Image
        run: |
           docker save qinloren/probsolve-web:${{ steps.version.outputs.version}} \
             -o probsolve-web-${{ steps.version.outputs.version}}.tar

      - name: Create Github Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ steps.version.outputs.version }}
          name: ${{ steps.version.outputs.version }}
          generate_release_notes: true
          files: |
            dist.zip
            probsolve-web-${{ steps.version.outputs.version }}.tar
